@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Pelisya</p>
    <h1 class="display-4">Tus películas favoritas</h1>

    <p>
        Encuentra todo lo que necesitas para tu vida digital.
    </p>
   

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
