@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Actividad semana 1</p>
    <h1 class="display-4">¿El Bitcoin se puede considerar dinero?</h1>
    <div class="container">
        <img src="~/img/img1.png" alt="Descripción de la imagen" class="centered-image" width="400px">
    </div>
    <p>
        El siguiente es un trabajo de investigación realizado por alumnos de la UNSAM de la materia de Introduccion a la Ciencia de Datos en UNSAM. Trabajaron data scraping, matrices de correlacion, Boxplots y Regreción lineal para averiguar si el Bitcoin se puede considerar dinero cumpliendo las tres condiciones:

        Unidad de cuenta: Una unidad de cuenta es una medida comúnmente aceptada para expresar el valor relativo de bienes y servicios. En este sentido, el dinero debe ser utilizado como una referencia estándar para establecer precios y realizar transacciones.

        Medio de intercambio: El dinero también debe servir como un medio confiable de intercambio, facilitando transacciones comerciales y permitiendo a las partes involucradas intercambiar bienes y servicios de manera eficiente. Como tal, el dinero debe ser ampliamente aceptado y reconocido como una forma de pago válida.

        Reserva de valor: Una reserva de valor es la capacidad del dinero para preservar su poder adquisitivo a lo largo del tiempo. Es importante que el dinero pueda mantener su valor a lo largo de períodos significativos y proteger a los poseedores del deterioro o la inflación.
    </p>
    <div class="container">
        <img src="~/img/img2.png" alt="Descripción de la imagen" class="centered-image" width="1000px">
    </div>
    <div class="container">
        <img src="~/img/img3.png" alt="Descripción de la imagen" class="centered-image" width="1000px">
    </div>
    <div class="container">
        <img src="~/img/img4.png" alt="Descripción de la imagen" class="centered-image" width="1000px">
    </div>
    <div class="container">
        <img src="~/img/img5.png" alt="Descripción de la imagen" class="centered-image" width="1000px">
    </div>
    <div class="container">
        <img src="~/img/img6.png" alt="Descripción de la imagen" class="centered-image" width="1000px">
    </div>
    <div class="container">
        <img src="~/img/img7.png" alt="Descripción de la imagen" class="centered-image" width="1000px">
    </div>
    <div class="container">
        <img src="~/img/img8.png" alt="Descripción de la imagen" class="centered-image" width="1000px">
    </div>
    <div class="container">
        <img src="~/img/img9.png" alt="Descripción de la imagen" class="centered-image" width="1000px">
    </div>
    <div class="container">
        <img src="~/img/img10.png" alt="Descripción de la imagen" class="centered-image" width="1000px">
    </div>
    <div class="container">
        <img src="~/img/img11.png" alt="Descripción de la imagen" class="centered-image" width="1000px">
    </div>
    <div class="container">
        <img src="~/img/img12.png" alt="Descripción de la imagen" class="centered-image" width="1000px">
    </div>
    <div class="container">
        <img src="~/img/img13.png" alt="Descripción de la imagen" class="centered-image" width="1000px">
    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
