@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Actividad semana 1</p>
    <h1 class="display-4">Nueva Tienda de E-commerce</h1>
    <div class="container">
        <img src="~/img/logo-ctrl-alt-evolution.png" alt="Descripción de la imagen" class="centered-image" width="400px">
    </div>
    <p>
        Encuentra todo lo que necesitas para tu vida digital.
    </p>
   

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
