@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mi página web</h1>
    <p>Actividad semana 1</p>
    <div class="container">
        <img src="~/img/biclouds.png" alt="Descripción de la imagen" class="centered-image">
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
